<a href="https://colab.research.google.com/github/kirankokateGitHub/Regression2/blob/main/Kiran_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -  Seoul Bike Sharing Demand Prediction

##### **Project Type**    - Regression
##### **Contribution**    - Individual
##### **Team Member 1 -** Kiran

# **Project Summary -**

# **GitHub Link -**

https://github.com/kirankokateGitHub/Regression2

# **Problem Statement**

**Write Problem Statement Here.**

Currently Rental bikes are introduced in many urban cities for the enhancement of mobility comfort. It is important to make the rental bike available and accessible to the public at the right time as it lessens the waiting time. Eventually, providing the city with a stable supply of rental bikes becomes a major concern. The crucial part is the prediction of bike count required at each hour for the stable supply of rental bikes.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 15 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]





6. You may add more ml algorithms for model creation. Make sure for each and every algorithm, the following format should be answered.


*   Explain the ML Model used and it's performance using Evaluation metric Score Chart.


*   Cross- Validation & Hyperparameter Tuning

*   Have you seen any improvement? Note down the improvement with updates Evaluation metric Score Chart.

*   Explain each evaluation metric's indication towards business and the business impact pf the ML model used.

# ***Let's Begin !***

## ***1. Know Your Data***

In [ ]:
# lets import required libraries

### Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# import datetime from datetime
from datetime import datetime
import datetime as dt
# import some preprocessing functions and modules from scikit library
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MultiLabelBinarizer
# lets import some regression ML models/algoriths from scikit library
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
# import some modules to check accuracy of the model
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
# import some modules to check accuracy of the model
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import log_loss
# import warnings
import warnings
warnings.filterwarnings('ignore')

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path="/content/drive/MyDrive/SeoulBikeData.csv"
bkdf= pd.read_csv(path, encoding= 'latin') # bike dataframed is named as bkdf for easy typing

## *** Know Your Data***

In [ ]:
# let's see top 5 rows of the dataframe
bkdf.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [ ]:
# let's see bottom 5 rows of dataframe
bkdf.tail()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [ ]:
#let's look at the some random sample from the data
bkdf.sample(5)

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
3419,22/04/2018,424,11,17.4,54,0.9,1840,7.9,0.51,0.0,0.0,Spring,No Holiday,Yes
4258,27/05/2018,821,10,21.6,33,2.0,1697,0.0,1.86,0.0,0.0,Spring,No Holiday,Yes
2703,23/03/2018,849,15,12.1,30,3.0,1120,-4.9,2.41,0.0,0.0,Spring,No Holiday,Yes
7471,08/10/2018,1206,7,9.2,72,1.0,2000,4.4,0.01,0.0,0.0,Autumn,No Holiday,Yes
6672,05/09/2018,983,0,21.1,64,1.5,2000,14.0,0.00,0.0,0.0,Autumn,No Holiday,Yes

In [ ]:
# now let's get know about the dataframe shape i.e rows and colomns
print(bkdf.shape)

(8760, 14)

In [ ]:
# so, we have 8760 rows and 14 colomns in our dataframe

In [ ]:
bkdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

In [ ]:
# so, we have four colomns which have object values and others have number values. data set has no null values.

In [ ]:
bkdf.nunique()

Date                          365
Rented Bike Count            2166
Hour                           24
Temperature(°C)               546
Humidity(%)                    90
Wind speed (m/s)               65
Visibility (10m)             1789
Dew point temperature(°C)     556
Solar Radiation (MJ/m2)       345
Rainfall(mm)                   61
Snowfall (cm)                  51
Seasons                         4
Holiday                         2
Functioning Day                 2
dtype: int64

In [ ]:
# here we can see how unique values are pressent in colomns of dataframe.

In [ ]:
# let's get know about the details of the dataframe
bkdf.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,8760,365,01/12/2017,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rented Bike Count,8760.0,NaN,NaN,NaN,704.602055,644.997468,0.0,191.0,504.5,1065.25,3556.0
Hour,8760.0,NaN,NaN,NaN,11.5,6.922582,0.0,5.75,11.5,17.25,23.0
Temperature(°C),8760.0,NaN,NaN,NaN,12.882922,11.944825,-17.8,3.5,13.7,22.5,39.4
Humidity(%),8760.0,NaN,NaN,NaN,58.226256,20.362413,0.0,42.0,57.0,74.0,98.0
Wind speed (m/s),8760.0,NaN,NaN,NaN,1.724909,1.0363,0.0,0.9,1.5,2.3,7.4
Visibility (10m),8760.0,NaN,NaN,NaN,1436.825799,608.298712,27.0,940.0,1698.0,2000.0,2000.0
Dew point temperature(°C),8760.0,NaN,NaN,NaN,4.073813,13.060369,-30.6,-4.7,5.1,14.8,27.2
Solar Radiation (MJ/m2),8760.0,NaN,NaN,NaN,0.569111,0.868746,0.0,0.0,0.01,0.93,3.52
Rainfall(mm),8760.0,NaN,NaN,NaN,0.148687,1.128193,0.0,0.0,0.0,0.0,35.0
Snowfall (cm),8760.0,NaN,NaN,NaN,0.075068,0.436746,0.0,0.0,0.0,0.0,8.8
Seasons,8760,4,Spring,2208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holiday,8760,2,No Holiday,8328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Functioning Day,8760,2,Yes,8465,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# let's know about the colomns/variable/features of the dataframe
print(bkdf.columns)

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [ ]:
# let's give brief description about the features

**Breakdown of Our variables/Features/columns:**
**Date** : *The date of the day, in a 365 days from 01/12/2017 to 30/11/2018,  let's formate in DD/MM/YYYY, data type : str*, we need to convert it into datetime format.

**Rented Bike Count** : *Number of bikes rented per hour which is our dependent variable and we need to predict it, data type : int*

**Hour**: *The hour of the day, starting from 0-23 it's in a digital time format, data type : int, we need to convert it into category data type.*

**Temperature(°C)**: *Temperature in degree Celsius, data type : Float*

**Humidity(%)**: * air Humidity in %, data type : int*

**Wind speed (m/s)** : *Speed of the blowing wind in m/s,
data type : Float*

**Visibility (10m)**: *Visibility in m, data type : int*

**Dew point temperature(°C)**: *Temperature at the beggining of the day, data type : Float*

**Solar Radiation (MJ/m2)**: *solar radition, data type : Float*

**Rainfall(mm)**: *depth of rainfall in mm, data type : Float*

**Snowfall (cm)**: *depth of snowfall in cm, data type : Float*

**Seasons**: *Season of the year, data type : str, there are only 4 season's in data *.

**Holiday**: *If the day  is holiday period or not, data type: str*

**Functioning Day**: *If the day is a Functioning Day or not, data type : str*

In [ ]:
# As we know there are mno missing values but, let's cross check ones.
bkdf.isnull().sum()

Date                         0
Rented Bike Count            0
Hour                         0
Temperature(°C)              0
Humidity(%)                  0
Wind speed (m/s)             0
Visibility (10m)             0
Dew point temperature(°C)    0
Solar Radiation (MJ/m2)      0
Rainfall(mm)                 0
Snowfall (cm)                0
Seasons                      0
Holiday                      0
Functioning Day              0
dtype: int64

In [ ]:
# yeah, it is clear that there are no null or missing values in the dataframe.

In [ ]:
# let's check for duplicate values.
bkdf.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Length: 8760, dtype: bool

In [ ]:
dupicate_values= len(bkdf[bkdf.duplicated()])

In [ ]:
print(dupicate_values)

0

In [ ]:
# so, there are no duplicate vales in dataframe.

##Breaking date column

* ***Python reads "Date" column as a object type basically it reads as a string, as the date column is very important to analyze the users' behaviour so we need to convert it into datetime format, then we split it into 3 columns i.e 'year', 'month', 'day'as a category data type.***

In [ ]:
# Changing the "Date" column into three new columns i.e "year","month" & "day" column
bkdf['Date'] = bkdf['Date'].apply(lambda x:
                                    dt.datetime.strptime(x,"%d/%m/%Y"))

In [ ]:
bkdf['year'] = bkdf['Date'].dt.year
bkdf['month'] = bkdf['Date'].dt.month
bkdf['day'] = bkdf['Date'].dt.day_name()

In [ ]:
#creating a new column as "weekdays_weekend" and drop the columns "Date","day" and "year"
bkdf['weekdays_weekend']=bkdf['day'].apply(lambda x : 1 if x=='Saturday' or x=='Sunday' else 0 )
bkdf=bkdf.drop(columns=['Date','day','year'],axis=1)

* ***So, initially we have converted the "date" column into 3 different columns i.e "year","month" & "day".***
* ***The "year" column in our data set is basically containing the 2 unique numbers, contains the details since 2017 december ans upto 2018 november. so, if we consider this is a one year then, we don't need the "year" column, and so we can drop it***.
* ***The other column "day", it contains the details about the each day of the month, for our relevence we don't need data of each day of each month, but we need the data about, if a day is a weekday or a weekend day, so we have converted it into this format and dropped the "day" column***.

In [ ]:
#now let's take a look at our data set

In [ ]:
bkdf.head()

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,month,weekdays_weekend
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0

In [ ]:
bkdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rented Bike Count          8760 non-null   int64
 1   Hour                       8760 non-null   int64
 2   Temperature(°C)            8760 non-null   float64
 3   Humidity(%)                8760 non-null   int64
 4   Wind speed (m/s)           8760 non-null   float64
 5   Visibility (10m)           8760 non-null   int64
 6   Dew point temperature(°C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  month                      8760 non-null   int64
 14  weekdays_weekend           8760 non-null   int64
dtypes: float64(6), int64(6), object(3)
memory usage: 1.0+ MB

In [1]:
bkdf['weekdays_weekend'].value_counts()

NameError: ignored